body {background-color:black;
font:arial;
font-color:white;
}
h1{color:grey;
 font:verdana;
}
.mainDiv{
    margin:auto;
    background-color:white;
    font-color:black;
    width:400px;
    padding:20px;
    border:25px;
    border-radius:25px;

}
.highlightme { background-color:#FFFF00; }
mark { 
  background-color: yellow;
  color: black;
}